@font-face {
    font-family: 'Pushster-Regular';
    src: url("https://dzoj.github.io/ultra_balkan_alpha-master.github.io/login1/Pushster-Regular.ttf");
}
   
h1 {
    font-family: 'Pushster-Regular';
    color: rgb(235, 200, 110);
}
body {
    text-align: center;
    font-size: 1.2rem;
}
.shape1 {
    color: white;
    background-color: rgb(235, 200, 110);
    width: 500px;
    height: 500px;
    position: relative;
    margin: 37% auto;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 25%;
    font-family: 'Pushster-Regular';
}
.button {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: inline-block;
    border-radius: 25%;
    background-color: rgb(255, 183, 0);
    border: none;
    color: #FFFFFF;
    font-size: 15px;
    padding: 20px;
    width: 90px;
    height: 55px;
    cursor: pointer;
    margin: 5px auto;
    font-family: 'Pushster-Regular';
}
input[type=password] {
    width: 125px;
    padding: 10px 10px;
    margin: 5px 0;
    box-sizing: border-box;
    outline: none;
    border-radius: 20px;
    border: none;
    color: rgb(250, 195, 57);
}
input[type=password]:focus {
    background-color: rgb(250, 195, 57);
    color: white;
}
/*
.shape2 {
    position: absolute;
    border-bottom: 150px solid rgb(136, 133, 133);
    left: 900px;
    top: 300px;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    height: 150px;
    width: 325px;
    transform: rotate(-50deg);
}*/
